{% extends "base.html" %}

{% block title_head %}
<title>About me</title>
{% endblock title_head %}

{% block h1_header %}
About me
{% endblock h1_header %}

{% block main %}

<h1>About Me</h1>

<h4>Concert Memories</h4>

<p>
    ¡Hola! Soy Federico Sola, y quiero compartir un poco más sobre mí. 
    Concert Memories es un proyecto que surgió como resultado de mi experiencia en el emocionante show de Taylor Swift, 
    conocido como "The Eras Tour". Este proyecto no es solo el resultado de un curso de Python, 
    sino también de mi pasión por la música y la necesidad de crear un espacio para que las personas compartan 
    sus recuerdos más queridos de conciertos musicales.
</p>

<p>
    En "The Eras Tour" de Taylor Swift, experimenté una conexión única con la música y la comunidad de fans. 
    Este sentimiento inspiró la creación de Concert Memories, donde los amantes de la música pueden 
    compartir sus propias experiencias, recuerdos y momentos inolvidables de conciertos.
</p>

<p>
    Mi objetivo con este proyecto es proporcionar un lugar donde la gente pueda revivir esos momentos especiales, 
    descubrir nuevos artistas y compartir su pasión por la música. ¡Espero que disfrutes explorando y compartiendo 
    tus propios recuerdos en Concert Memories!
</p>

<h4>Federico Sola.</h4>

{% endblock main %}